In [1]:
import pandas as pd 
import numpy as np 
import random

In [2]:
bookings = pd.read_csv("C:\\Users\\Tisha\\Downloads\\Past_Booking.csv")

In [3]:
bookings

,Unnamed: 0,Booking_ID,User_ID,Provider_ID,Service_ID,Booking_Date,Service_Date,Service_Location,Booking_Status,Payment_Status,Total_Amount,Discount_Applied,Tax_Amount,Final_Payment,Service_Time,Booking_Time
0,0,30644,1244,1,1,24-01-2024,27-01-2024,25,Confirmed,Pending,4418.26,680.71,795.29,4532.84,23:06:17,10:31:33
1,1,18682,755,1,1,22-01-2024,30-01-2024,25,Cancelled,Refunded,2539.55,73.92,457.12,2922.75,10:47:27,04:31:12
2,2,31026,1259,1,1,23-01-2024,02-02-2024,25,Cancelled,Pending,3255.47,372.57,585.98,3468.88,19:59:05,23:05:07
3,3,21286,866,1,1,30-01-2024,06-02-2024,25,Cancelled,Pending,3330.46,138.20,599.48,3791.74,06:13:40,16:13:16
4,4,6333,255,1,1,02-02-2024,07-02-2024,25,Cancelled,Refunded,2027.22,288.46,364.90,2103.66,11:58:53,13:26:25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33031,33031,25763,1039,2700,10,17-05-2021,26-05-2021,27,Confirmed,Pending,3528.67,688.96,635.16,3474.87,03:45:13,14:43:42
33032,33032,27857,1129,2700,10,22-05-2021,29-05-2021,27,Cancelled,Failed,2612.78,23.20,470.30,3059.88,15:57:45,11:22:13
33033,33033,26493,1065,2700,10,29-05-2021,01-06-2021,27,Cancelled,Pending,572.29,38.21,103.01,637.09,11:53:54,20:16:23
33034,33034,13772,558,2700,10,29-05-2021,05-06-2021,27,Cancelled,Paid,3510.46,149.62,631.88,3992.72,13:16:34,20:04:22
33035,33035,19994,806,2700,10,30-05-2021,06-06-2021,27,Confirmed,Refunded,1478.56,170.13,266.14,1574.57,20:19:47,01:49:06

In [4]:
users = pd.read_excel("C:\\Users\\Tisha\\Downloads\\userUrban.xlsx")

In [5]:
users

,user_id,name,gender,age,email,phone_number,location_id,preferred_services,preferred_time_slots,booking_history_count,cancellation_rate,average_rating_given,wallet_balance,last_booking_date,subscription_status,feedback_score
0,0,Roy Braun,male,21,roy.braun@yahoo.com,919995808689,48,carpentry,Evening,28,0.28,4.1,3378.50,2024-11-30,0,5.3
1,1,Joseph Holsten,male,37,joseph.holsten@company.com,918305794335,15,carpentry,Morning,27,0.33,4.6,3108.59,2024-07-21,1,3.4
2,2,Wilma Mcinnis,female,48,wilma.mcinnis@company.com,917227064135,53,electrical,Evening,32,0.87,1.0,1350.08,2024-12-15,1,8.9
3,3,Paula Daniel,female,23,paula.daniel@yahoo.com,917993922604,25,carpentry,Morning,27,0.64,3.4,693.24,2024-10-17,1,9.8
4,4,Patricia Carson,female,44,patricia.carson@outlook.com,917126306825,8,cleaning,Evening,10,0.16,4.9,258.53,2025-01-17,0,5.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1335,1335,Albert Garroutte,male,23,albert.garroutte@gmail.com,919309376022,27,plumbing,Afternoon,35,0.94,4.3,1785.22,2024-09-09,0,3.4
1336,1336,Kim Shores,female,40,kim.shores@company.com,919831226840,38,painting,Evening,28,0.42,2.8,1707.46,2024-12-08,1,4.5
1337,1337,James Gimenez,male,28,james.gimenez@gmail.com,917697021099,50,painting,Night,20,0.76,3.7,2545.74,2024-12-02,1,4.7
1338,1338,Viola Agosta,female,52,viola.agosta@yahoo.com,918147603863,45,beauty,Afternoon,46,0.98,3.0,4321.13,2024-11-05,1,2.9
1339,1339,Paul Rodriguez,male,35,paul.rodriguez@yahoo.com,917056563307,27,cleaning,Afternoon,42,0.72,4.1,1320.90,2025-01-27,0,7.2

random.seed(42)
np.random.seed(42)

In [6]:
# Convert relevant columns to datetime
bookings['Booking_Date'] = pd.to_datetime(bookings['Booking_Date'])
users['last_booking_date'] = pd.to_datetime(users['last_booking_date'])

# Merge data
merged_df = pd.merge(users, bookings, left_on='user_id', right_on='User_ID', how='left')

C:\Users\Tisha\AppData\Local\Temp\ipykernel_25956\673083087.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  bookings['Booking_Date'] = pd.to_datetime(bookings['Booking_Date'])

In [7]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33036 entries, 0 to 33035
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   user_id                33036 non-null  int64
 1   name                   33036 non-null  object
 2   gender                 33036 non-null  object
 3   age                    33036 non-null  int64
 4   email                  33036 non-null  object
 5   phone_number           33036 non-null  int64
 6   location_id            33036 non-null  int64
 7   preferred_services     33036 non-null  object
 8   preferred_time_slots   33036 non-null  object
 9   booking_history_count  33036 non-null  int64
 10  cancellation_rate      33036 non-null  float64
 11  average_rating_given   33036 non-null  float64
 12  wallet_balance         33036 non-null  float64
 13  last_booking_date      33036 non-null  datetime64[ns]
 14  subscription_status    33036 non-null  int64
 15  feedback_score         33036 non-null  float64
 16  Unnamed: 0             33036 non-null  int64
 17  Booking_ID             33036 non-null  int64
 18  User_ID                33036 non-null  int64
 19  Provider_ID            33036 non-null  int64
 20  Service_ID             33036 non-null  int64
 21  Booking_Date           33036 non-null  datetime64[ns]
 22  Service_Date           33036 non-null  object
 23  Service_Location       33036 non-null  int64
 24  Booking_Status         33036 non-null  object
 25  Payment_Status         33036 non-null  object
 26  Total_Amount           33036 non-null  float64
 27  Discount_Applied       33036 non-null  float64
 28  Tax_Amount             33036 non-null  float64
 29  Final_Payment          33036 non-null  float64
 30  Service_Time           33036 non-null  object
 31  Booking_Time           33036 non-null  object
dtypes: datetime64[ns](2), float64(8), int64(12), object(10)
memory usage: 8.1+ MB

In [8]:
# Group by user_id to compute aggregated features
user_features = merged_df.groupby('user_id').agg(
    Total_Bookings=('Booking_ID', 'count'),
    First_Booking_Date=('Booking_Date', 'min'),
    Last_Booking_Date=('Booking_Date', 'max'),
    Days_Since_Last_Booking=('Booking_Date', lambda x: (pd.Timestamp.today() - x.max()).days),
    Avg_Booking_Gap=('Booking_Date', lambda x: x.diff().mean().days if x.count() > 1 else np.nan),
    Service_Types_Used=('Service_ID', lambda x: list(x.unique())),
    Preferred_Service_Type=('Service_ID', lambda x: x.mode()[0] if not x.mode().empty else np.nan),
    Total_Spend=('Final_Payment', 'sum'),
    Avg_Spend_Per_Booking=('Final_Payment', 'mean'),
    Last_Spend_Amount=('Final_Payment', 'last'),
    Discount_Usage_Frequency=('Discount_Applied', lambda x: (x > 0).sum() / x.count() if x.count() > 0 else 0),
    Cancellation_Count=('Booking_Status', lambda x: (x == 'Cancelled').sum()),
    Reschedule_Count=('Booking_Status', lambda x: (x == 'Rescheduled').sum()),
    No_Show_Count=('Booking_Status', lambda x: (x == 'No Show').sum())
).reset_index()

# High-Value Customer: If total spend > threshold (e.g., $500)
user_features['High-Value_Customer'] = (user_features['Total_Spend'] > 4000).astype(int)

# Engagement & Interaction Features (Randomized with seed)
user_features['App_Logins_Per_Month'] = np.random.randint(1, 20, size=len(user_features))
user_features['Total_App_Logins'] = user_features['App_Logins_Per_Month'] * 12
user_features['Browsing_History_Depth'] = np.random.randint(1, 10, size=len(user_features))
user_features['Search_Queries_Performed'] = np.random.randint(1, 50, size=len(user_features))
user_features['Click-Through-Rate (CTR)'] = np.random.uniform(0.01, 0.5, size=len(user_features))
user_features['Referral_Usage'] = np.random.randint(0, 5, size=len(user_features))
user_features['Social_Media_Engagement'] = np.random.randint(0, 20, size=len(user_features))
user_features['Time_Spent_on_Platform (min)'] = np.random.randint(5, 40, size=len(user_features))

# Customer Feedback & Satisfaction Features
user_features['Feedback_Score'] = users['feedback_score']
user_features['Last_Feedback_Score'] = np.random.uniform(1, 5, size=len(user_features))
user_features['Negative_Reviews_Count'] = np.random.randint(0, 10, size=len(user_features))
user_features['Complaints_Raised'] = np.random.randint(0, 5, size=len(user_features))
user_features['Issue_Resolution_Time'] = np.random.uniform(1, 10, size=len(user_features))
# user_features['Loyalty_Program_Member'] = np.random.choice([0, 1], size=len(user_features))
# user_features['Loyalty_Points_Used'] = np.random.randint(0, 100, size=len(user_features))
user_features['Customer_Support_Contacts'] = np.random.randint(0, 20, size=len(user_features))

# Behavioral Features (Churn Risk Indicators)
user_features['Inactive_Days'] = user_features['Days_Since_Last_Booking']
user_features['Booking_Frequency_Change'] = np.random.uniform(-0.5, 0.5, size=len(user_features))
user_features['Spend_Change_Rate'] = np.random.uniform(-0.5, 0.5, size=len(user_features))
user_features['Service_Type_Change'] = np.random.choice(['None', 'Beauty', 'Home Cleaning', 'Repair'], size=len(user_features))
user_features['Unsubscribed_Notifications'] = np.random.choice([0, 1], size=len(user_features))
user_features['Downgrade_Service_Usage'] = np.random.choice([0, 1], size=len(user_features))

# Churn Label (Logic-Based)
def churn_label(row):
    if row['Inactive_Days'] > 200 or row['Booking_Frequency_Change'] < -0.5 or row['Spend_Change_Rate'] < -0.5:
        return 1  # Churned
    elif row['Unsubscribed_Notifications'] == 1 and row['Downgrade_Service_Usage'] == 1:
        return 1  # Churned
    else:
        return 0  # Not churned

# Apply churn label to the DataFrame
user_features['Churn_Label'] = user_features.apply(churn_label, axis=1)
# Fill missing values
user_features.fillna(0, inplace=True)

# Merge with users DataFrame
users_final = users.merge(user_features, on='user_id', how='left')

In [9]:
users_final

,user_id,name,gender,age,email,phone_number,location_id,preferred_services,preferred_time_slots,booking_history_count,...,Complaints_Raised,Issue_Resolution_Time,Customer_Support_Contacts,Inactive_Days,Booking_Frequency_Change,Spend_Change_Rate,Service_Type_Change,Unsubscribed_Notifications,Downgrade_Service_Usage,Churn_Label
0,0,Roy Braun,male,21,roy.braun@yahoo.com,919995808689,48,carpentry,Evening,28,...,2,8.381123,9,304,0.365191,0.153661,Repair,1,1,1
1,1,Joseph Holsten,male,37,joseph.holsten@company.com,918305794335,15,carpentry,Morning,27,...,4,4.222833,7,638,-0.488412,0.478361,Home Cleaning,0,0,1
2,2,Wilma Mcinnis,female,48,wilma.mcinnis@company.com,917227064135,53,electrical,Evening,32,...,0,8.968577,11,136,-0.489369,-0.371674,Beauty,1,0,0
3,3,Paula Daniel,female,23,paula.daniel@yahoo.com,917993922604,25,carpentry,Morning,27,...,0,6.153011,10,572,-0.479033,0.157684,Beauty,0,0,1
4,4,Patricia Carson,female,44,patricia.carson@outlook.com,917126306825,8,cleaning,Evening,10,...,0,3.539843,14,515,-0.388370,-0.200302,Home Cleaning,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1335,1335,Albert Garroutte,male,23,albert.garroutte@gmail.com,919309376022,27,plumbing,Afternoon,35,...,2,1.183470,8,145,0.442912,0.485694,Home Cleaning,1,1,1
1336,1336,Kim Shores,female,40,kim.shores@company.com,919831226840,38,painting,Evening,28,...,1,6.819714,9,311,-0.220792,0.433346,None,0,1,1
1337,1337,James Gimenez,male,28,james.gimenez@gmail.com,917697021099,50,painting,Night,20,...,2,7.301594,2,187,0.483829,0.348116,Home Cleaning,0,1,0
1338,1338,Viola Agosta,female,52,viola.agosta@yahoo.com,918147603863,45,beauty,Afternoon,46,...,1,4.979945,16,116,-0.284371,-0.243415,Home Cleaning,1,1,1
1339,1339,Paul Rodriguez,male,35,paul.rodriguez@yahoo.com,917056563307,27,cleaning,Afternoon,42,...,3,9.745053,14,138,-0.170661,0.412662,None,1,1,1

In [10]:
users_final['Churn_Label'].value_counts()

Churn_Label
1    1015
0     325
Name: count, dtype: int64

In [11]:
users_final.to_excel("churn.xlsx", index=False)

In [12]:
users_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 52 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   user_id                       1340 non-null   int64
 1   name                          1340 non-null   object
 2   gender                        1340 non-null   object
 3   age                           1340 non-null   int64
 4   email                         1340 non-null   object
 5   phone_number                  1340 non-null   int64
 6   location_id                   1340 non-null   int64
 7   preferred_services            1340 non-null   object
 8   preferred_time_slots          1340 non-null   object
 9   booking_history_count         1340 non-null   int64
 10  cancellation_rate             1340 non-null   float64
 11  average_rating_given          1340 non-null   float64
 12  wallet_balance                1340 non-null   float64
 13  last_booking_date             1340 non-null   datetime64[ns]
 14  subscription_status           1340 non-null   int64
 15  feedback_score                1340 non-null   float64
 16  Total_Bookings                1340 non-null   int64
 17  First_Booking_Date            1340 non-null   datetime64[ns]
 18  Last_Booking_Date             1340 non-null   datetime64[ns]
 19  Days_Since_Last_Booking       1340 non-null   int64
 20  Avg_Booking_Gap               1340 non-null   float64
 21  Service_Types_Used            1340 non-null   object
 22  Preferred_Service_Type        1340 non-null   int64
 23  Total_Spend                   1340 non-null   float64
 24  Avg_Spend_Per_Booking         1340 non-null   float64
 25  Last_Spend_Amount             1340 non-null   float64
 26  Discount_Usage_Frequency      1340 non-null   float64
 27  Cancellation_Count            1340 non-null   int64
 28  Reschedule_Count              1340 non-null   int64
 29  No_Show_Count                 1340 non-null   int64
 30  High-Value_Customer           1340 non-null   int32
 31  App_Logins_Per_Month          1340 non-null   int32
 32  Total_App_Logins              1340 non-null   int32
 33  Browsing_History_Depth        1340 non-null   int32
 34  Search_Queries_Performed      1340 non-null   int32
 35  Click-Through-Rate (CTR)      1340 non-null   float64
 36  Referral_Usage                1340 non-null   int32
 37  Social_Media_Engagement       1340 non-null   int32
 38  Time_Spent_on_Platform (min)  1340 non-null   int32
 39  Feedback_Score                1340 non-null   float64
 40  Last_Feedback_Score           1340 non-null   float64
 41  Negative_Reviews_Count        1340 non-null   int32
 42  Complaints_Raised             1340 non-null   int32
 43  Issue_Resolution_Time         1340 non-null   float64
 44  Customer_Support_Contacts     1340 non-null   int32
 45  Inactive_Days                 1340 non-null   int64
 46  Booking_Frequency_Change      1340 non-null   float64
 47  Spend_Change_Rate             1340 non-null   float64
 48  Service_Type_Change           1340 non-null   object
 49  Unsubscribed_Notifications    1340 non-null   int32
 50  Downgrade_Service_Usage       1340 non-null   int32
 51  Churn_Label                   1340 non-null   int64
dtypes: datetime64[ns](3), float64(15), int32(13), int64(14), object(7)
memory usage: 476.5+ KB

In [36]:
users_final[['Days_Since_Last_Booking']]

      Days_Since_Last_Booking
0                         304
1                         638
2                         136
3                         572
4                         515
...                       ...
1335                      145
1336                      311
1337                      187
1338                      116
1339                      138

[1340 rows x 1 columns]

In [32]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   user_id                1340 non-null   int64
 1   name                   1340 non-null   object
 2   gender                 1340 non-null   object
 3   age                    1340 non-null   int64
 4   email                  1340 non-null   object
 5   phone_number           1340 non-null   int64
 6   location_id            1340 non-null   int64
 7   preferred_services     1340 non-null   object
 8   preferred_time_slots   1340 non-null   object
 9   booking_history_count  1340 non-null   int64
 10  cancellation_rate      1340 non-null   float64
 11  average_rating_given   1340 non-null   float64
 12  wallet_balance         1340 non-null   float64
 13  last_booking_date      1340 non-null   datetime64[ns]
 14  subscription_status    1340 non-null   int64
 15  feedback_score         1340 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(6), object(5)
memory usage: 167.6+ KB